:root {
    --primary-title-color: #000000;
    --logo-color: #939393;
    --title-color: #263238;
    --primary-text-color: #8F95A5;
    --price-color: #546269;
    --number-color: #2A3246;
    --button-color: #ffffff; 
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: var(--title-color);
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1338px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.section-title {
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 48px;
    color: var(--primary-title-color);
}

.button {
    font: inherit;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--title-color);
    color: var(--button-color);
    border: 1px solid #000000;
}

/************************************ LOGO *************/

.logo {
    margin-right: 236px;
    font-size: 36px;
    color: var(--logo-color);
}

.primary-part {
    color: var(--primary-title-color);
}

/*********************************** HEADER ************/

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    font-weight: 500;
    display: flex;
    gap: 50px;
}

.header-button {
    margin-left: auto;
    min-width: 312px;
    padding: 18px 54px;
    color: var(--primary-title-color);
    background-color: var(--button-color);
}

/*********************************** HERO************/

.hero {
    padding-top: 101px;
    padding-bottom: 134px;
}

.hero-container {
    display: flex;
}

.hero-block {
    position: relative;
    width: 540px;
    margin-right: 144px;
}

.hero-title {
    margin-bottom: 40px;
    color: var(--primary-title-color);
    font-weight: 600;
    font-size: 64px;
    line-height: 1.25;
}

.icon-box {
    position: absolute;
    top: 93px;
    right: 0;
    width: 85px;
    height: 85px;
    border: 1px solid #000000;
    transform: rotate(38deg);
}

.hero-icon {
    transform: rotate(-38deg);

transition: transform 250ms linear;
}

.hero-icon:hover,
.hero-icon:focus {
    fill: #bf6517;
    transform: rotate(-76deg);
}

.hero-text {
    margin-bottom: 60px;
    font-size: 24px;
    color: var(--primary-text-color);
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
            rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
            rgb(0, 0, 0) -0.832294px 1.81859px 0px,
            rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
            rgb(0, 0, 0) -1.87291px -0.701566px 0px,
            rgb(0, 0, 0) -1.30729px -1.5136px 0px,
            rgb(0, 0, 0) -0.421592px -1.95506px 0px,
            rgb(0, 0, 0) 0.567324px -1.91785px 0px,
            rgb(0, 0, 0) 1.41734px -1.41108px 0px,
            rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

.hero-button {
    min-width: 426px;
    padding: 23px 106px;
    font-size: 36px;
}

/*********************************** SKILLS ***********/

